#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Classes for this app */

.logo {
  padding-bottom: 0px;
  aspect-ratio: auto;
  height: 12em;
}

.submitEssay {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: Helvetica;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  color: white;
  will-change: background-color;
}

.submitEssay:hover {
  background-color: rgb(7, 155, 56);
}

.devs h1 {
  font-size: 35px;
}

.devsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

.devsContainer div {
  border-radius: 10px;
  background-color: #888;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  max-width: 20%;
}

/* The names in the description boxes */
.devsContainer div h3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.devsContainer div p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.devsContainer div img {
  width: 70%;
  aspect-ratio: auto;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.essayAnalysis {
  background-color: grey;
  padding: 40px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.scholarships {
  background-color: grey;
  padding: 40px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}
