#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em gold);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Classes for this app */

.logo {
  padding-bottom: 0px;
  aspect-ratio: auto;
  height: 15em;
}

.submitEssay {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: Helvetica;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  color: white;
  will-change: background-color;
}

.submitEssay:hover {
  background-color: rgb(7, 155, 56);
}

.devs h1 {
  font-size: 35px;
}

.devsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.devsContainer div {
  border-radius: 10px;
  background-color: #888;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  max-width: 20%;
  filter: none;
  will-change: filter;
  transition: filter 0.25s;
}

.devsContainer div:hover {
  filter: drop-shadow(0px 6px 4px black);
}

/* The names in the description boxes */
.devsContainer div h3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.devsContainer div p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.devsContainer div img {
  width: 70%;
  aspect-ratio: auto;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.essayAnalysis {
  border-radius: 10px;
  background-color: grey;
  color: white;
  padding: 40px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.scholarships {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  text-align: center;
  color: white;
}

.insertScholarship {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: Helvetica;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  color: white;
  will-change: background-color;
}

.insertScholarship:hover {
  background-color: rgb(7, 155, 56);
  border-color: white;
}

.insertScholarship:disabled {
  background-color: rgb(68, 68, 68);
  border-color: white;
}

.scholarshipFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(163, 163, 163);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.scholarshipFlexbox div {
  background-color: ivory;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.scholarshipRemoveText {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  color: blue;
  will-change: color;
  transition: color 0.25s;
}

.scholarshipRemoveText:hover {
  color: red;
}

.scholarshipRemoveText:active {
  color: yellow;
}

.expandCollapseText {
  font-size: 16px;
  font-weight: 700;
  text-decoration: initial;
  color: white;
  margin-bottom: 15px;
  will-change: color;
  transition: color 0.25s;
}

.expandCollapseText:hover {
  color: red;
  text-decoration: underline;
}

.expandCollapseText:active {
  color: white;
  text-decoration: initial;
}

.scholarshipFlexbox .expandCollapseText {
  background-color: transparent;
}
